*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* common style start  */
:root{
    --linear:#FF42A5;
    --linear-2: #4EC5F7;
    --text-primary-color: #3C354F;
    --text-secondary-color: #0B0223;
    --text-color: #534C64;
    --color-white:#fff;
}
span{
    color: var(--linear);
}
/* common style end  */
/* nav style start  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background-color: var(--color-white);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-icon{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.nav-icon img{
    width: 5.375rem;
    height: 2.5rem;
}
.nav-icon h1{
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 1.125rem;
    font-weight: 500;
}
nav .follow{
    border-radius: .5rem;
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 1rem;
}
/* nav style end  */
/* header style start  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10% 0px 0;
}
.header-text{
    background-image: url("../images/Group\ 14.png");
    background-position: center;
    background-size: contain;
    padding: 10%;
}
header h2{
    color:var(--text-secondary-color);
        font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
header h1{
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 1.3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header p{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
header button{
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 3rem;
    border: none;
    background-color: var(--linear);
}
header .go{
    background-color: var(--linear-2);
}
header img{
    width: 500px;
}
/* header style end  */
/* Online Games Funny Videos start  */
.Online-Games-Funny-Videos{
    text-align: center;
    padding: 120px 10%;
}
.Online-Games-Funny-Videos h1{
    color: var(--text-secondary-color);
    font-size: 3rem;
    font-weight: 700;
}
.Online-Games-Funny-Videos > h1 > span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Online-Games-Funny-Videos > p{
    color: var(--text-color);
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 48px;
}
.Online-Games-Funny-Videos-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    text-align: left;
}
.Online-Games-Funny-Videos-img img{
    width: 100%;
}
.Online-Games-Funny-Videos-img p{
    color: var(--text-color);
    font-weight: 500;
    margin: 1.5rem 0;
}
/* Online Games Funny Videos end  */




/* mobile style start */
@media screen and (max-width: 640px) {
    nav,
    nav > ul{
        flex-direction: column;
    }
    header{
        flex-direction: column-reverse;
    }
    .Online-Games-Funny-Videos-img{
        grid-template-columns: 1fr;
    }
    header img{
        width: 300px;
    }
    .nav-icon{
        margin-bottom: 3rem;
    }
}
/* mobile style end */

/* tablet style start */
@media screen and (min-width: 641px) and (max-width: 990px) {
    nav{
        flex-direction: column;
    }
    .nav-icon{
        margin-bottom: 2.5rem;
    }
    header{
        flex-direction: column-reverse;
    }
    .Online-Games-Funny-Videos-img{
        grid-template-columns: repeat(2,1fr);
    }
}
/* tablet style end */
